[submodule "back-end"]
    path = cuidaemprego-back
    url = https://github.com/lone-wolf-fatec/CuidaEmprego-back.git

[submodule "front-end"]
    path = cuidaemprego.front
    url = https://github.com/lone-wolf-fatec/CuidaEmprego-front.git
