[submodule "backend"]
    path = cuidaemprego-back
    url = https://github.com/lone-wolf-fatec/CuidaEmprego-back.git

[submodule "frontend"]
    path = cuidaemprego.front
    url = https://github.com/lone-wolf-fatec/CuidaEmprego-front.git
